@model IEnumerable<Financeiro4.Models.trans>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar nova transaçao", "Cadastrar", "Transacoes", new { }, new { });
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Operação
        </th>
        <th>
            Data
        </th>
        <th>
            Valor
        <th>
            Crédito
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clientes.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipos.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credito)
        </td>
    </tr>
}

</table>
